spring.application.name=ratelimiter
server.port=8080

spring.datasource.url=jdbc:mysql://localhost:3306/ratelimiter
spring.datasource.username=root
spring.datasource.password=YOUR_MYSQL_PASSWORD_HERE
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true

spring.data.redis.host=localhost
spring.data.redis.port=6379

rate.limiter.max-requests=10
rate.limiter.window-seconds=60